html,
body {
  margin: 0;
  padding: 0;
  background: #0f1522;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#game {
  width: 100vw;
  height: 100dvh; /* alto visible real, no 100vh */
  touch-action: manipulation;
  padding-bottom: env(safe-area-inset-bottom); /* margen para notch / barras */
}
canvas {
  display: block;
  margin: 0 auto;
  image-rendering: pixelated;
  touch-action: manipulation;
}
